@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.content{
width: 1366px;
width: 100%;
height: 768px;
height: 100vh;
margin: auto;
font-family: Inter;
background: #ffffff;
border: 1px solid #000000;
}
.content__zone{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 621px;
  height: 438px;
  margin: auto;
}
.content__inputzone{
  display: flex;
  justify-content: space-around;
 
}
.content__input{
display: flex;
width: 400px;
height: 50px;
outline:none;
  border: none;
background: #F1F1F1;
border-radius: 10px;
}
 .input__bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106.52px;
  height: 50px;
  
  background: #A672FF;
  border-radius: 10px;
  }
  .input__bottom:hover{
    cursor: pointer;
  }
      .rect1BottomText{
     font-family: Inter;
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     color: #FFFFFF;
      }
.content__punkts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 135px;
        padding-bottom: 41px;
       
        
      }
.punkt__1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 621px;
    height: 60px;
background-color: #F1F1F1;;
    border-radius: 10px;
}
.punkt__1left{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;


}
    .punkt__1__circle{
     display: flex;
      width: 30px;
     height: 30px;
     background: #F1F1F1;
     border: 1px solid #A672FF;
     border-radius: 50px;
     }
     .circleRect3{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background: #A672FF;
      border-radius: 50px;
    } 
     .punk1__1__text{
        display: flex;
        font-weight: 500;
        font-size: 20px;
        font-weight: 600;
        
        color: #222222;
     }
     .punkt__1right{
      display: flex;
      justify-content:space-between;
      align-items: center;
      padding-right: 24px;
      width: 76px;
     }
  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #F5F5F5;
    border-radius: 10px;
  }
     .icon__image1{
      display: flex;
      width: 12.95px;
      height: 12.93px;
      margin: 8px;
      background-image: url(image/Group1.png);
     }
     .icon1__image2{
      display: flex;
     width: 9.9px;
     height: 13.71px;
     margin: 8px;
     background-image: url(image/Group2.png);
    }
.circleRect3Img{
           display: flex;
            width: 20px;
            height: 15px;
            background-image: url(image/Vector.png);
          }
         }
        .line{
          display: flex;
          width: 142.01px;
          height: 1px;
          
          background-color:#A672FF; ;
          border: 1px solid #A672FF;
        }
    
.content__footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 621px;
  height: 50px;
  background: #F1F1F1;
  border-radius: 10px;
}
 .footer__bottom{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 127px;
   height: 28px;
   font-weight: 600;
   font-size: 14px;
   color: #A672FF;
   background: #FFFFFF;
   border: 1px solid #A672FF;
   border-radius: 10px;
 }
 .footer__bottom:hover{
   color: #F5F5F5;
   background-color: #A672FF;
   cursor: pointer;
 }
     

